__pycache__
.brownie
.DS_Store
.env
.history
.vscode/
report.*.json
.hypothesis/
.pytest_cache/
build/
reports/
node_modules/
venv/
yarn-error.log
*.egg-info/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
