-r requirements.txt

autoflake
autopep8
bandit
black
pyupgrade
pylint
pytest-randomly
pytest-timeout
isort

# TODO: how can we do this? i thought "-c requirements.txt" but thata gives a warning now
# -e ../brownie
# -e ../py-tokenlists
