ape-safe
arrow
click-log
click-option-group
click-plugins
click-spinner
decorator
eth-abi
lazy_load

# TODO: get this from pypi
# TODO: this does not like being installed with '-e'
git+https://github.com/flashbots/web3-flashbots.git#egg=flashbots

-e ../brownie
-e ../py-tokenlists
-e ../pythx
